<!-- <div class="container">
  <div class="row">
    <div class="col-6">
  </div>
    <div class="mb-3">
      <label for="photo" class="form-label">Upload photo</label>
      <input
        type="file"
        class="form-control"
        id="photo"
        required
        (change)="onPhotoSelected($event)">
        <button [disabled]="!selectedPhoto" (click)="uploadPhoto()" class="btn btn-primary">Finish</button>
    </div>
    
</div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <form #picForm="ngForm">
          <label for="photo" class="form-label">Upload photo</label>
          <input
           type="file"
            class="form-control"
             id="photo"
             required
             #image="ngModel"
             [(ngModel)]="selectedPhoto"
            (change)="onPhotoSelected($event)">
            <br>
          <button [disabled]="!selectedPhoto" (click)="uploadPhoto()" class="btn btn-primary">Finish</button>
        </form>
      </div>
    </div>
  </div>
</div>

