<section class="product-edit mt-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm.valid && categoryForm.value)">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name">Type Name</label>
                <input
                  [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}"
                  required
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Type Name"
                  name="name"
                  #name="ngModel"
                  [(ngModel)]="category.name"
                >
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                  <div *ngIf="name.errors!['required']">
                    Type Name is required
                  </div>
                </div>
              </div>


              <div class="form-group col-md-6">
                <label for="id">Type ID</label>
                <input
                  [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}"
                  required
                  type="text"
                  class="form-control"
                  id="id"
                  placeholder="Type Id"
                  name="id"
                  #TypeId="ngModel"
                  [(ngModel)]="category.id"
                >
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                  <div *ngIf="name.errors!['required']">
                    Type id is required
                  </div>
                </div>
              </div>
            </div>
            <button [disabled]="!categoryForm.valid" type="submit" class="btn btn-primary my-3 float-right">Submit</button>
          </form>
        </div>
      </div>
    </div>
</section>

