
<div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
      <div class="card">
        <div class="row">
          <div class="col-md-4 pe-md-0">
            <div class="auth-side-wrapper">
                <img src="../../../assets/loginPic.jpg" style="width:240px;height: 350px;" alt="not founde">
            </div>
          </div>

          <form [formGroup]="this.loginForm" class="col-md-8 ps-md-0">
            <div class="auth-form-wrapper px-4 py-5">
              <h5 class="text-muted fw-normal mb-4">Welcome back! Log in to your account.</h5>
              <form class="forms-sample">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password" placeholder="Password">
                </div>
                <br>
                <br>   
                  <button type="submit" (click)="onSubmit($event)" class="btn btn-primary me-2 mb-2 mb-md-0">login</button>
              </form>
            </div>
        </form>


    </div>
        
      </div>
    </div>
  </div>