
  <!-- Servises part -->
  <div class="container" id="services">
    <div class="row">
      <div class="col-12 mt-3">
        <h2>Welcome to our DashBoared</h2>
      </div>
      <div class="col-12 my-4">
        <h4 class="text-center">Our Services</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4 mb-5">
        <div><i class="fa-solid fa-cart-plus fa-3x text-danger"></i></div>
        <h5 class="mt-2">Products Controller</h5>
        <p>
          with our products controller you can controle all site products,
          you can add , update , delete or even edit any product
        </p>
      </div>
      <div class="col-12 col-lg-4 mb-5">
        <div><i class="fa-solid fa-clipboard-list fa-3x text-danger"></i></div>
        <h5 class="mt-2">Categories controller</h5>
        <p>
          with our Categories controller you can controle all site Categories,
          you can add , update , delete or even edit any Categories
        </p>
      </div>
      <div class="col-12 col-lg-4 mb-5">
        <div><i class="fa-solid fa-copyright fa-3x text-danger"></i></div>
        <h5 class="mt-2">Brands controlle</h5>
        <p>
          with our Brands controller you can controle all site Brands,
          you can add , update , delete or even edit any Brands
        </p>
      </div>
      <div class="col-12 col-lg-4 mb-5">
        <div><i class="fa-solid fa-lock fa-3x text-danger"></i></div>
        <h5 class="mt-2">High security</h5>
        <p>
          high security application, with auth guards at the client-side and authorization
          over admin controllers at the server-side you are in the safe mode!.
        </p>
      </div>
      <div class="col-12 col-lg-4 mb-5">
        <div><i class="fa-solid fa-list-check fa-3x text-danger"></i></div>
        <h5 class="mt-2">Orders page</h5>
        <p>
          With orders page you can see customers orders and continue your shipping 
          to serve your customers effectively. moreover, you can confirm oreder and generate 
          invoice with order details.
        </p>
      </div>
      <div class="col-12 col-lg-4 mb-5">
        <div><i class="fa-solid fa-chart-line fa-3x text-danger"></i></div>
        <h5 class="mt-2">Dashboared page</h5>
        <p>
          with our dashboared you can review your orders , cutomers and brands.
          You are gonna get detailed statistics about orders , cutomers, brands.
          also you you can generate pdf reports. 
        </p>
      </div>
    </div>
  </div>
  <!-- End of services part -->